extends base.pug

block content
    if loggedInUser
        h1 Welcome #{loggedInUser.name}!
        if loggedInUser.userType == "student"
            ul
                li
                    a(href="stu/sugang") enroll
                li
                    a(href="stu/lecture") enrolled lectures
        else
            ul
                li
                    a(href="prof/lecture") manage lectures
                li
                    a(href="prof/student") manage students

    else 
        h1 blackboard


        