extends base.pug

block content
    if loggedInUser
        h1=loggedInUser.name+"님 환영합니다!"
        if loggedInUser.userType == "student"
            ul
                li
                    a(href="stu/sugang") 수강신청
                li
                    a(href="stu/lecture") 수강중인 강의 목록
                li
                    a(href="stu/update") 최근 업데이트
        else
            ul
                li
                    a(href="prof/lecture") 강의 관리
                li
                    a(href="prof/student") 수강 학생 관리

    else 
        h1 blackboard


        