extends base.pug

block content
    h2 login
    script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js")
    script(src='/login.js')
    
    form#loginForm(method="POST")
        input(type='hidden', name='AESId')
        input(type='hidden', name='AESPw')
        label(for="id") id
        input(placeholder="id", id = "id", name="id", type="text", required)
        label(for="pw") pw
        input(placeholder="pw", id = "pw", name="pw", type="password", required)
        input(type="submit", value="Login")

    div
        span Don't you have an account yet?
        a(href="/auth/signup") signup &rarr;