extends base.pug

block content
    h2 로그인
    form(method="POST")
        label(for="id") 아이디
        input(placeholder="아이디", id = "id", name="id", type="text", required)
        label(for="pw") 비밀번호
        input(placeholder="비밀번호", id = "pw", name="pw", type="password", required)
        input(type="submit", value="Login")

    div
        span 아직 계정이 없으신가요?
        a(href="/auth/signup") 회원가입 &rarr;