extends base.pug

block content
    h2 signup
    form(method="POST")
        label(for="id") id
        input(placeholder="id", id = "id", name="id", type="text", required)
        label(for="pw") pw
        input(placeholder="pw", id = "pw",name="pw", type="text", required)
        label(for="id") name
        input(placeholder="name", id = "name", name="name", type="text", required)
        fieldset
            legend Please select the user type
            div
                input(type="radio" id="professor" name="userType" value="professor")
                label(for="professor") professor
            div
                input(type="radio" id="student" name="userType" value="student")
                label(for="student") student
        label(for="id") student id
        input(placeholder="Enter only if you are a student id", id = "stuId", name="stuId", type="text")
        input(type="submit", name="signup", value="signup")
