extends ../base.pug

block content
    if lectures
        if lectures.length === 0
            h3(style="color:red") No lectures are registered. Please open a lecture.
        else
            h2 lecture list
            ul
            each lecture in lectures
                li
                    a(href=`/prof/lecture/${lecture._id}`)= lecture.lectureName
                    br
                    br
            hr
        a(href="lecture/newLecture") open a lecture
