extends ../base.pug

block content
    h2 open lecture
    form(method="POST")
        label(for="lectureName") lecture name
        input(type="text", name="lectureName", id="lectureName", placeholder="lecture name", required)
        input(type="submit", value="open lecture")
