extends ../base.pug

block content
    h2 post quiz
    form(method="POST")
        label(for="quizProblem") problem
        input(type="text", name="quizProblem", id="quizProblem", placeholder="problem", required)
        label(for="quizAnswer") question
        input(type="text", name="quizAnswer", id="quizAnswer", placeholder="question", required)
        input(type="submit", value="post")
