extends ../base.pug

block content
    h2 퀴즈 등록
    form(method="POST")
        label(for="quizProblem") 문제
        input(type="text", name="quizProblem", id="quizProblem", placeholder="문제를 입력하세요", required)
        label(for="quizAnswer") 정답
        input(type="text", name="quizAnswer", id="quizAnswer", placeholder="정답을 입력하세요", required)
        input(type="submit", value="퀴즈 등록")
