extends ../base.pug
block content
    if lectures
        if lectures.length === 0
            h3(style="color:red") No lectures are registered. Please open a lecture.
        else
            h2 manage students
            for lecture in lectures
                hr
                table(border="1")
                    thead
                        th name
                        th student id
                    tbody
                        if lecture.stuIds.length === 0
                            h3(style="color:red") No students have registered for the course yet.
                        else
                            h3 #{lecture.lectureName} : List of students taking a course
                            for student in lecture.stuIds
                                tr    
                                    td
                                        h4=student.name
                                    td
                                        h4=student.stuId
