header
    nav
        ul
            li
                a(href="/") home
            if isLoggedIn
                li
                    a(href="/auth/logout") logout
                li
                    if loggedInUser.userType === "student"
                        span #{loggedInUser.name} student
                    else
                        span #{loggedInUser.name} professor
            else
                li
                    a(href="/auth/login") login
                li
                    a(href="/auth/signup") signup



            
